[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "raptor-sparse"]
	path = raptor-sparse
	url = https://github.com/raptor-library/raptor-sparse.git
